.bg_text {
  position: relative;
}
.bg_text .texts {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-10%, -50%);
  line-height: 1.8rem;
}
.author_img {
  height: 45px;
  width: 45px;
}
.user_icon {
  line-height: 50px;
  width: 30px;
  height: 30px;
}
